<div class="alert alert-info mt-3">
  <strong>Finde heraus, ob du ein Konsequentialist oder ein Deontologe bist!</strong>
</div>


<% i = 0 %>
<% @whatareyou.each do |array| %>

    <div id="<%= i %>" class="card hidden-xl-down">
      <div class="card-header">
        <%= array[0] %>
      </div>
      <div class="card-block">
        <button type="button" name="<%= i %>" text="<%= array[1] %>" value="<%= array[3][0] %>" class="btn btn-primary multilinebutton btn-block"><%= array[1] %></button>
        <br>
        <button type="button" name="<%= i %>" text="<%= array[2] %>" value="<%= array[3][1] %>" class="btn btn-primary multilinebutton btn-block"><%= array[2] %></button>
      </div>
    </div>
    <% i = i + 1 %>
<% end %>

<div id="kons" class="card hidden-xl-down">
  <div class="card-header">
    <b>Du scheinst ein Konsequentialist zu sein</b>!
  </div>
  <div class="card-block">
    <p>
      Du tendierst dazu, fragwürdige Handlungen zu begehen, um Menschen das Leben zu retten, Konflikte zu vermeiden oder andere Probleme aus dem Weg zu räumen.
    </p>
    <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>
  </div>

</div>

<div id="deon" class="card hidden-xl-down">
  <div class="card-header">
    <b>Du scheinst ein Deontologe zu sein</b>!
  </div>
  <div class="card-block">
    <p>
      Du tendierst dazu, deinen Pflichten nachzugehen, selbst wenn sie unschöne Folgen nach sich ziehen.
    </p>
    <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>
  </div>
</div>

<br>

<script>
    $(document).ready(function () {
        var score = 0;
        var currentnumber = 0;
        $('#' + currentnumber).removeClass("hidden-xl-down");

        $('.btn-block').on('click', function (){
            $(".btn-block").prop("disabled", true);

            setTimeout(function(){
                $(".btn-block").prop("disabled", false);
            }, 1000);


            currentnumber = currentnumber + 1;
            score = parseInt($(this).attr("value")) + score;
            var te = $(this).attr("text");

            $('#' + (currentnumber - 1)).fadeOut("slow", function(){
                console.log(score);
                $.ajax({
                    type: "POST",
                    url: "/ethicsm/addanswer",
                    data: {questionnumber: (currentnumber - 1), answer: te }
                });



                $('#' + currentnumber).fadeIn("slow").removeClass("hidden-xl-down");
                if(currentnumber === 9){
                    if(score >= 5){

                        var title = 'Du scheinst ein Deontologe zu sein!';
                        var text = 'Du tendierst dazu, deinen Pflichten nachzugehen, selbst wenn sie unschöne Folgen nach sich ziehen.';

                        resultswal(title, text, 500, "ethic", "dork", "completed");

                        $('#deon').fadeIn("slow").removeClass("hidden-xl-down");
                        $.ajax({
                            type: "POST",
                            url: "/ethicsm/addanswer",
                            data: {questionnumber: currentnumber, answer: "deon" }
                        });
                    } else {

                        var title = 'Du scheinst ein Konsequentialist zu sein!';
                        var text = 'Du tendierst dazu, fragwürdige Handlungen zu begehen, um Menschen das Leben zu retten, Konflikte zu vermeiden oder andere Probleme aus dem Weg zu räumen.';

                        resultswal(title, text, 500, "ethic", "dork", "completed");

                        $('#kons').fadeIn("slow").removeClass("hidden-xl-down");
                        $.ajax({
                            type: "POST",
                            url: "/ethicsm/addanswer",
                            data: {questionnumber: currentnumber, answer: "kons" }
                        });
                    }
                }
            });
        });
    });
</script>