<div class="alert alert-info mt-3">
  <strong>Finde heraus, ob du ein Konsequentialist oder ein Deontologe bist!</strong>
</div>


<% i = 1 %>
<% @whatareyou.each do |array| %>

    <div id="<%= i %>" class="card hidden-xl-down">
      <div class="card-header">
        <%= array[0] %>
      </div>
      <div class="card-block">
        <button type="button" name="<%= i %>" text="<%= array[1] %>" value="<%= array[3][0] %>" class="btn btn-primary multilinebutton btn-block"><%= array[1] %></button>
        <br>
        <button type="button" name="<%= i %>" text="<%= array[2] %>" value="<%= array[3][1] %>" class="btn btn-primary multilinebutton btn-block"><%= array[2] %></button>
      </div>
    </div>
    <% i = i + 1 %>
<% end %>

<div id="kons" class="card hidden-xl-down">
  <div class="card-header">
    <b>Du scheinst ein Konsequentialist zu sein</b>!
  </div>
  <div class="card-block">
    <p>
      Du tendierst dazu, fragwürdige Handlungen zu begehen, um Menschen das Leben zu retten, Konflikte zu vermeiden oder andere Probleme aus dem Weg zu räumen.
    </p>
    <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>
  </div>

</div>

<div id="deon" class="card hidden-xl-down">
  <div class="card-header">
    <b>Du scheinst ein Deontologe zu sein</b>!
  </div>
  <div class="card-block">
    <p>
      Du tendierst dazu, deinen Pflichten nachzugehen, selbst wenn sie unschöne Folgen nach sich ziehen.
    </p>
    <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>
  </div>
</div>

<br>

<script>
    $(document).ready(function () {
        var score = 0;
        var currentnumber = 1;
        $('#' + currentnumber).removeClass("hidden-xl-down");

        $('.btn-block').on('click', function (){
            score = parseInt($(this).attr("value")) + score;
            var text = $(this).attr("text");

            $('#' + currentnumber).fadeOut("slow", function(){
                console.log(score);
                $.ajax({
                    type: "POST",
                    url: "/ethicsm/addanswer",
                    data: {questionnumber: currentnumber, answer: text }
                });

                currentnumber = currentnumber + 1;

                $('#' + currentnumber).fadeIn("slow").removeClass("hidden-xl-down");
                if(currentnumber === 10){
                    if(score >= 5){
                        swal({
                            title: 'Du scheinst ein Deontologe zu sein!',
                            width: 600,
                            text: 'Du tendierst dazu, deinen Pflichten nachzugehen, selbst wenn sie unschöne Folgen nach sich ziehen.',
                            animation: false,
                            customClass: 'animated bounceIn'
                        });

                        $('#deon').fadeIn("slow").removeClass("hidden-xl-down");
                        $.ajax({
                            type: "POST",
                            url: "/ethicsm/addanswer",
                            data: {questionnumber: currentnumber + 1, answer: "deon" }
                        });
                    } else {
                        swal({
                            title: 'Du scheinst ein Konsequentialist zu sein!',
                            width: 600,
                            text: 'Du tendierst dazu, fragwürdige Handlungen zu begehen, um Menschen das Leben zu retten, Konflikte zu vermeiden oder andere Probleme aus dem Weg zu räumen.',
                            animation: false,
                            customClass: 'animated bounceIn'
                        });

                        $('#kons').fadeIn("slow").removeClass("hidden-xl-down");
                        $.ajax({
                            type: "POST",
                            url: "/ethicsm/addanswer",
                            data: {questionnumber: currentnumber + 1, answer: "kons" }
                        });
                    }
                }
            });
        });
    });
</script>