<div class="alert alert-info mt-3">
  <strong>Memory mit ethischen Begriffen: Finde die passenden Karten!</strong>
</div>

<div class="hidden-sm-up">
  Da dein Gerät einen kleinen Bildschirm hat, kannst du diese Aufgabe überspringen:
  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>
</div>

<div id="backforward" class="card hidden-xl-down">
  <div class="card-header">
    <b>Übung abgeschlossen!</b>!
  </div>
  <div class="card-block">
    <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>
  </div>
</div>

<% i = 0 %>
<div class="row">
  <% @memory.each do |card| %>
      <% i = i + 1 %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div id="<%=i%>" value="<%=card[1]%>" class="flip my-2">

          <div class="front yellowishcard text-center cardsize p-1">

          </div>

          <div class="back yellowishcard text-center cardsize p-1">
            <%= card[0] %>
          </div>

        </div>
      </div>
  <% end %>

</div>